# Exclude node_modules directory
node_modules

# Exclude development/test files
*.log
*.test.js

# Exclude Git-related files and directories
.git
.gitignore

# Exclude Docker-related files (optional)
Dockerfile
.dockerignore
