/* CSS for Devices component */
h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.heading-space {
  margin-bottom: 20px;
}

h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

/* Style the input fields */
input[type="text"],
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Style the buttons */
button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 20px; /* Round the buttons */
  cursor: pointer;
  font-weight: bold;
  margin-right: 10px;
}

button:hover {
  background-color: #0056b3;
}

/* Styling for the Devices list */
ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap; /* Make the devices appear in a row */
  justify-content: space-between; /* Space them evenly */
}

li {
  width: 48%; /* Limit the width of each card */
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin: 10px 0;
}

/* Styling for the Industry name in devices list */
p {
  font-weight: bold;
  margin-top: 10px;
}

/* Add additional styling for the update input fields here */
